.stick_follow_icon {
    height: 200px;
    left: 30px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 20px;
}

.stick_follow_icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stick_follow_icon ul li {
    display: block;
    font-size: 2rem;
    text-align: center;
    transition: all .3s;
}

.stick_follow_icon p {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    height: 20px;
    left: -24px;
    line-height: 1.2;
    position: relative;
    top: 70px;
    transform: rotate(-90deg);
    white-space: nowrap;
    width: 68px;
}

.stick_follow_icon ul li a {
    color: white;
    font-size: 40px;
   
}

.stick_follow_icon ul li a:hover{
    color: rgb(136, 248, 136);
}